@model UserInterface.ViewModels.DialogViewModel
@{
    ViewData["Title"] = "Dialog";
    var myImage = ViewBag.Me.ImageSource == null ? "no-user.png" : ViewBag.Me.ImageSource;
    var friendImage = ViewBag.Receiver.ImageSource == null ? "no-user.png" : ViewBag.Receiver.ImageSource;
}
<style>
#messages {overflow-y: scroll;width: 100%;height: 60vh;}
.myMessage {width: 100%;background: #EFFFDE;border-radius: 15px;padding: 5px;color: black;margin-bottom: 20px;padding-top: 10px;}
.friendMessage {width: 100%;background: #FFFFFF;border-radius: 15px;padding: 5px;color: black;margin-bottom: 20px;padding-top: 10px;}
.ebs-image {width: 50px;height: 50px;border-radius: 50%;overflow: hidden;margin:0 auto;}
.ebs-image img {width: 100%}
</style>
<section style="padding-top:50px">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <div style="background:#D8DFE7">
                    <div class="bg-secondary pl-3 pt-3 pb-3 pt-3 text-light">
                        <a asp-controller="Message" asp-action="Index" class="btn btn-primary mr-3">Back</a>
                        <span>@ViewBag.Receiver.Email</span>
                    </div>
                    <div id="messages" class="pl-3 pr-3 pt-4 pb-2">
                        @foreach (var message in Model.Messages)
                        {
                            if (message.UserSenderEmail == User.Identity.Name)
                            {
                                <div class="myMessage">
                                    <div class="row mb-1">
                                        <div class="col-md-1">
                                            <div class="ebs-image">
                                                <img src="~/img/@myImage" />
                                            </div>
                                        </div>
                                        <div class="col-md-11 pt-1 text-left">
                                            <p>@message.Text</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="friendMessage">
                                    <div class="row mb-1">
                                        <div class="col-md-1">
                                            <div class="ebs-image">
                                                <img src="~/img/@friendImage" />
                                            </div>
                                        </div>
                                        <div class="col-md-11 pt-1 text-left">
                                            <p>@message.Text</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input style="padding:25px !important;padding-left:15px !important" type="text" class="form-control" placeholder="Write a message..." id="messageText">
                    <div class="input-group-append">
                        <button class="btn btn-primary pl-4 pr-4" id="sendMessage"><i class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            const id = @ViewBag.DialogId;

            const me = "@User.Identity.Name";
            const myId = @ViewBag.Me.Id;
            const myImage = "@myImage";

            const friendEmail = "@ViewBag.Receiver.Email";
            const friendId = @ViewBag.Receiver.Id;
            const friendImage = "@friendImage";

            const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();
 
            hubConnection.on("Send", function (email, message) {
                var className = "myMessage";
                var image = myImage;
                if (email != me) {
                    className = "friendMessage";
                    image = friendImage;
                }

                let messageElement = $(`<div class="${className}"><div class="row mb-1"><div class="col-md-1">
                                        <div class="ebs-image"><img src="/img/${image}" /></div></div>
                                        <div class="col-md-11 pt-1 text-left"><p>${message}</p></div></div></div>`);

                $("#messages").append(messageElement);
            });
 
            hubConnection.start();

            $("#sendMessage").click(function () {
                var message = $("#messageText").val().trim();
                if (message != "") {
                    hubConnection.invoke("Send", me, message);
                    $("#messageText").val("");
                    $.ajax({
                        method: "POST",
                        url: "/api/ebs/message/add",
                        data: {
                            dialogId: id,
                            senderId: myId,
                            receiverId: friendId,
                            sender: me,
                            receiver: friendEmail,
                            text: message
                        },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    })
                    .done(function (result) {
                        if(!result) {
                            toastr.error("Hello world!", "Error");
                        }
                    });
                }
            });
        });
    </script>
}