@model  List<UserInterface.ViewModels.UserListViewModel>

<table class="table table-dark">
    <thead>
        <tr id="admin-thead-target">
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">FullName</th>
            <th scope="col">Address</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody id="admin-tbody-target">
        @foreach (UserInterface.ViewModels.UserListViewModel user in Model)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Email</td>
                <td>@user.FullName</td>
                <td>@user.Address</td>
                <td>@user.RoleName.ToUpper()</td>
            </tr>
        }
    </tbody>
</table>