@model UserInterface.ViewModels.Entities.BookViewModel
@{
    ViewData["Title"] = "Details";
    var image = Model.ImageSource != null ? Model.ImageSource : "/img/no-book.png";
}
<section style="padding-top:50px;">
    <div class="container pt-5">
        <a asp-controller="User" asp-action="Index">Come back to Dashboard</a>
        <a asp-controller="Book" asp-action="ByUser" asp-route-id="@ViewBag.Id">Come back to ELibrary</a>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <img src="@image" width="100%" />
            </div>
            <div class="col-md-8">
                <p><b>Title:</b> @Model.Title</p>
                <p><b>Author:</b> @Model.Author</p>
                <p><b>Description:</b></p>
                <p>@Model.Description</p>
                <p><b>Rate:</b> @Model.Rate</p>
            </div>
        </div>
    </div>
</section>