@model List<UserInterface.ViewModels.Entities.BookViewModel>
@{
    ViewData["Title"] = "Index";
}

<section style="padding-top:50px">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="ebs-search-value" placeholder="Search book" value="@ViewBag.Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" id="ebs-search-submit" type="button">Find it</button>
                    </div>
                </div>
                <div class="row" id="ebs-target-list">
                    @if (Model.Count > 0)
                    {
                        foreach (var book in Model)
                        {
                            var image = book.ImageSource != null ? "/img/" + book.ImageSource : "/img/no-book.png";
                            if (!string.IsNullOrEmpty(book.ImageSource) && book.ImageSource.Contains("http")) { image = book.ImageSource; }
                            <div class="col-md-12">
                                <div class="row pt-3 pl-3 pr-3 pb-3 bg-light mb-3">
                                    <div class="col-md-4">
                                        <img src="@image" width="100%" />
                                    </div>
                                    <div class="col-md-8">
                                        <p><b>@book.Title</b></p>
                                        <p>@book.Author</p>
                                        @if (book.User.Email != User.Identity.Name)
                                        {
                                            <a asp-controller="Transaction" asp-action="Borrow" asp-route-id="@book.Id" class="btn btn-success pull-right">Borrow</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-outline-danger pull-right">Delete</a>
                                            <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-outline-success pull-right mr-2">Edit</a>
                                        }
                                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-outline-primary pull-right mr-2">Visit</a>
                                        <p>@book.CreatedDate</p>
                                        <p>@book.User.Email</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-12">
                            <p>Empty</p>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".ebs-search").css("display", "none");

            $("#ebs-search-submit").click(function () {
                var search = $("#ebs-search-value").val();
                if (search.trim() != "") {
                    $.ajax({
                        method: "GET",
                        url: "/api/ebs/books/index",
                        contentType: "application/json; charset=utf-8",
                        type:"JSON",
                        data: {
                            search: search,
                        },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        beforeSend: function () {
                            toastr.info("We are updating your book list", "Please wait");
                        },
                        success: function (result) {
                            console.log(result);
                            if (result.length > 0) {
                                toastr.success("Your book list was successfully updated", "Successful!");
                                $("#ebs-target-list").empty();
                                for (let book of result) {
                                    var { imageSource, title, author, id, createdDate, userEmail } = book;
                                    var image = "/img/no-book.png";
                                    if (imageSource != null) {
                                        image = "/img/" + imageSource;
                                    }
                                    if (imageSource != null && imageSource.includes("http")) {
                                        image = imageSource;
                                    }
                                    var col = `   <div class="col-md-12">
                                                <div class="row pt-3 pl-3 pr-3 pb-3 bg-light mb-3">
                                                    <div class="col-md-4"><img src="${image}" width="100%" /></div>
                                                    <div class="col-md-8">
                                                        <p><b>${title}</b></p>
                                                        <p>${author}</p>
                                                        <a href="/Book/Details/${id}" class="btn btn-outline-primary pull-right">Visit</a>
                                                        <p>${createdDate}</p>
                                                        <p>${userEmail}</p>
                                                    </div>
                                                </div>
                                            </div>`;
                                    $("#ebs-target-list").append(col);
                                }
                            } else {
                                toastr.error("There is no books that you have searching", "No result");
                            }
                        },
                        error: function (result) {
                            toastr.error(result, "Oops...");
                        }
                    });
                }
                else {
                    toastr.error("Search field is empty", "What!?");
                }
            });
        });
    </script>
}
