@model UserInterface.ViewModels.Entities.UserViewModel
@{
    ViewData["Title"] = "Details";
    var imagePath = (Model.ImageSource ?? "no-user.png");
}

<section style="padding-top:50px;">
    <div class="container pt-5">
        <a class="btn btn-primary mb-3" asp-controller="User" asp-action="Index">Back</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item">Profile</li>
                <li class="breadcrumb-item">Details</li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Email</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-6 mb-3 text-center">
                <img src="~/img/@imagePath" width="50%" style="margin:0 auto !important" />
            </div>
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        ELibrary
                    </dt>
                    <dd class="col-sm-10">
                        <a asp-controller="Book" asp-action="ByUser" asp-route-id="@Model.Id">Visit</a>
                    </dd>
                </dl>
                @if (User.Identity.Name == Model.Email)
                {
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Delete</a>
                }
            </div>
        </div>
    </div>
</section>