@model List<UserInterface.ViewModels.Entities.BookViewModel>
<style>.badge {top: 10px;left: 10px;padding: 10px;position: absolute;}</style>
@if (Model.Count < 1)
{
    <div class="col-md-12 text-center pt-5 mt-5">
        <h3 class="display-3">There is no one book :(</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
}
else
{
    foreach (var book in Model)
    {
        var image = "/img/" + (book.ImageSource != null ? book.ImageSource : "no-book.png");
        if (book.ImageSource != null && book.ImageSource.Contains("http")) image = book.ImageSource;

        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;">
                @if (book.IsBorrowed)
                {
                    <span class="badge badge-pill badge-danger">Borrowed</span>
                }
                else
                {
                    <span class="badge badge-pill badge-success">Free</span>
                }
                <img src="@image" class="card-img-top" width="100%">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p>@book.Author</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary pull-right">Details</a>
                    @if (book.User.Email != User.Identity.Name)
                    {
                        <a asp-controller="Transaction" asp-action="Borrow" asp-route-id="@book.Id" class="btn btn-success pull-right mr-2">Borrow</a>
                    }
                    else
                    {
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-outline-primary pull-right mr-2">Edit</a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-outline-danger pull-right mr-2">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
}