@model List<UserInterface.ViewModels.BookTransactionViewModel>
<style>
    .progress-success {
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        background-color: green;
    }

    .progress-danger {
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        background-color: red;
    }

    .progress-warning {
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        background-color: yellow;
    }
</style>
@if (Model.Count < 1)
{
    <div class="col-md-12 text-center pt-5">
        <h1>Empty requests</h1>
    </div>
}
else
{
    @foreach (var transaction in Model)
    {
        var image = "/img/" + (transaction.Book.ImageSource != null ? transaction.Book.ImageSource : "no-book.png");
        if (transaction.Book.ImageSource != null && transaction.Book.ImageSource.Contains("http")) image = transaction.Book.ImageSource;
        <div class="col-md-6 mb-3 pr-4 pl-4 pt-4 pb-5" id="ebs-@transaction.Id.ToString()">
            <div class="row bg-light">
                <div class="col-md-4 mt-3">
                    <img src="@image" width="100%" />
                </div>
                <div class="col-md-8 mt-3">
                    <h4>@transaction.Book.Title</h4>
                    <p><b>Start:</b> @transaction.BorrowStartDate.Date.ToString("dd/MM/yyyy")</p>
                    <p><b>End:</b> @transaction.BorrowEndDate.Date.ToString("dd/MM/yyyy")</p>
                    <button class="btn btn-outline-success ebs-btn-accept" data-id="@transaction.Id.ToString()">Принять</button>
                    <button class="btn btn-outline-danger ebs-btn-cancel" data-id="@transaction.Id.ToString()">Отклонить</button>
                    <a class="btn btn-primary" asp-controller="User" asp-action="Details" asp-route-id="@transaction.BorrowerId">Должник</a>
                </div>
                <div class="col-md-12 mt-4">
                    @if (transaction.IsSuccess == null)
                    {
                        <div class="progress-warning"></div>
                    }
                    else if (transaction.IsSuccess == false)
                    {
                        <div class="progress-danger"></div>
                    }
                    else
                    {
                        <div class="progress-success"></div>
                    }
                </div>
            </div>
        </div>
    }
}